* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Latto", sans-serif;
  width: 100%;
  background: rgb(240, 241, 243);
}
section {
  /* margin: 30px 0; */
  padding: 60px 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  height: 80px;
  line-height: 80px;
  position: fixed;
  background: transparent;
  width: 100%;
  z-index: 10;
}
.navbar nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.65);
}
.logo {
  font-size: 30px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
  padding: 0 6px;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: auto 0;
}

.nav-item {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 15px;
  font-weight: 600;
}

.nav-item a {
  position: relative;
  /* color: #444; */
  color: #ffffff;

  text-decoration: none;
}

.nav-item:hover a,
.active a {
  color: #0ba4a4;
}

.nav-item:hover a::before,
.active a::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #0ba4a4;
  bottom: -10px;
  left: 0;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.hamburger {
  width: 50px;
  height: 2px;
  color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Media query for screens 768px and smaller (tablets and mobile devices) */
@media (max-width: 768px) {
  .navbar {
    height: 60px;
    line-height: 60px;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 30%;
    color: #fff;
    background: rgba(0, 0, 0, 0.65);
    text-align: center;
    opacity: 0; /* Initially hide the menu */
    transition: opacity 0.3s ease-in-out;
  }

  .nav-item {
    display: block;
    padding: 15px 0;
  }

  .mobile-menu {
    display: block;
  }

  .hamburger.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger.active .line2 {
    opacity: 0;
  }

  .hamburger.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .nav-list.active {
    opacity: 1;
    z-index: 1;
  }
}

#hero {
  width: 100%;
  height: 100vh;
  padding: 80px 0 30px 0;
  background-image: url(../images/background.gif);
  background-size: cover;
}

.hero-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  align-content: center;
  margin: auto auto;
  margin-top: 100px;
}
.hero-content .selfi {
  border-right: 2px solid #0ba4a4;
  border-left: 2px solid #0ba4a4;
  border-radius: 50%;
  padding: 4px;
}
.hero-content img {
  width: 200px;
  height: 200px;
  background: #333;
  border-radius: 50%;
}
.my-discription {
  background: #000;
  opacity: 0.7;
  width: 80%;
  margin: 30px auto;
  text-align: center;
  color: #ffffff;
}
.hero-content span {
  width: 60%;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.1;
  font-family: "Creepster", cursive;
  color: #ffffff;
  /* text-shadow: 2px 2px 4px #ba646f; */
  /* white-space: nowrap; */
  margin: 0 auto;
  margin: o auto;
}
.contact-btn {
  padding: 0 30px;
  background: #000;
  border: 2px solid #ffffff;
  height: 50px;
  line-height: 40px;
  letter-spacing: 1px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
.contact-btn:hover {
  cursor: pointer;
  background: #2595b2;
  transition: all 0.3s;
  border: none;
}
@media (max-width: 768px) {
  #hero {
    height: auto; /* Remove fixed height for smaller screens */
  }
  .hero-content {
    margin: 0 auto;
  }
  .hero-content img {
    width: 160px;
    height: auto;
    display: none;
  }

  .hero-content p {
    font-size: 24px; /* Adjust font size for smaller screens */
  }
}

#services h2,
#projects h2,
#contact h2,
#skills h2 {
  margin: 0 auto;
  font-size: 36px;
  text-align: center;
  font-weight: 500;
  line-height: 1.1;
  color: #fff;
  text-transform: uppercase;
}
hr {
  border: 1px solid #0ba4a4;
  width: 100px;
  margin-top: 20px 0;
}

#projects {
  background: #28292a;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  padding-top: 2rem;
  row-gap: 2rem;
}

.item {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 2px 4px #000;
  width: 100%;
  height: auto;
}

img {
  width: 100%;
  height: 100%;
  display: block;
}

.item {
  position: relative; /* Make the item a positioned container */
  overflow: hidden;
}
.image-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.section-overlay {
  background-color: #0ba4a4;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  margin: 20px 0 0 20px;
  width: 85%;
  height: 85%;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
.section-overlay p {
  color: #ffffff;
  text-align: center;
}
.item:hover .section-overlay {
  opacity: 0.65; /* Show the overlay on hover */
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }
}
#skills {
  background: #1f1f1f;
  color: #fff;
}
.skills_container {
  display: flex;
  justify-content: center;

  gap: 20%;
}
.skills {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}
.skills h3 {
  text-align: center;
  color: #0ba4a4;
  font-size: 30px;
  text-shadow: 0 2px 4px #0ba4a4;
}

.skill {
  margin-bottom: 20px;
}

.progress-bar {
  background-color: #ccc;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  width: 0;
  background-color: #0ba4a4;
  text-align: center;
  line-height: 20px;
  color: #fff;
  border-radius: 10px;
}

h2 {
  margin: 0;
  padding: 5px;
}
@media (max-width: 768px) {
  .skills_container {
    flex-wrap: wrap;
  }
  .skills h3 {
    font-size: 20px;
  }
  .skill h4 {
    font-size: 18px;
  }
}
#services {
  background: #1f1f1f;
}
.services-inner {
  margin: 15px 60px;
  border-left: 2px solid #009999;
}

.service-content h3 {
  color: #009999;
}
.service-content {
  display: flex;
  margin: 15px 0;
  gap: 20px;
  color: #ffffff;
}
.service-image {
  max-width: 140px;
  max-height: 140px;
}
.service-title {
  border: 2px solid #444746;
  padding: 10px 15px;
  width: 60%;
  background: #28292a;
}
.service-title:hover {
  box-shadow: 0 0 10px #000;
}

#contact {
  background: #1f1f1f;
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px auto;
  padding: 20px;
  background-color: #000;
  opacity: 0.7;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 80%;
}

.contact-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-weight: bold;
}

.input-group input,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #000;
  color: #ffffff;
}

.input-group input:focus,
.input-group textarea:focus {
  box-shadow: 0 0 10px #ffffff;
}

.input-group button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-info h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Style for the footer section */
footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-social li {
  margin: 10px 0;
}

.footer-social a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}

.footer-social i {
  font-size: 24px;
  margin: 0 10px;
}
